body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #242021;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0.5rem 2rem 2rem 2rem;
}

section {
    margin-bottom: 10rem;
}

.navbar {
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.navbar-nav {
    margin: 0;
}

.navbar-brand {
    padding: 0.5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #333;
}

.nav-item.nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.nav-item.nav-link:hover {
    color: #e2e443;
    background-color: #58ba4d;
    border-radius: 5px;
}

.navbar-dark.bg-primary {
    background-color: #764abc;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

p {
    font-weight: bold;
    color: white;
}

h2 {
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#about {
    margin-top: 5rem;
}

#classesCarousel {
    margin-top: 30rem;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    margin: 10px auto 5px auto;
    border: 3px solid #55b14d;
}

.card img {
    object-fit: contain;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.card-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.card button {
    background-color: #764abc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}

.card button:hover {
    background-color: #333;
    cursor: pointer;
}

.card:hover {
    background-color: #e6e6e6;
    border: 3px solid white;
    box-shadow: 5px 9px 15px #55b14d;
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
}

#pricing {
    margin-top: 30rem;
}

table th,
table td {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.footer-link {
    color: #fff;
    font-weight: bold;
    margin-right: 1rem;
}

.footer-link:hover {
    color: #764abc;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-indicators {
    position: static;
    margin-top: 20px;
  }