@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #dde04b, #54b04d);
  transition: width 0.3s;
}

.gradient-underline:hover::after {
  width: 100%;
}
